.Blog_main{
    display: grid;
}

.Blog_sec{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.Blog_sec button{
    padding: 5px 10px;
    margin-top: 5px;
}

.input_div{
    margin-top: 5px;
}

.input_div input{
    display: block;
    width: 80%;
    background-color: transparent;
    color: gray;
    padding: 8px 10px;
}

.input_div span{
    font-size: xx-small;
    color: red;
    font-weight: 700;
}
