.Main_section{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.Navbar{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.Navbar h2{
    flex: 1 1;
}

.SignUp_button button{
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: #FFC017;
}

.SignUp_button button:hover{
    cursor: pointer;
}

.SignIn_button button{
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: #FFC017;
}

.SignIn_button button:hover{
    cursor: pointer;
}