.Navbar_main{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Home_page{
    flex: 1 1;
    display: flex;
    padding: 20px;
}

.Home_page h2{
    color: black;
    margin: 0;
    cursor: pointer;
}

.Home_page :link{
    text-decoration: none;
}

.All_button{
    display: flex;
    align-items: center;
}

.All_button button{
    margin-right: 10px;
    border: none;
    font-size: 18px;
    background-color: #FFC017;
}

.All_button button:hover{
    cursor: pointer;
}

.All_button img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

@media (max-width:680px) {
    .Navbar_main{
        width: 100%;
    }

    .Home_page{
        padding: 10px 5px;
        font-size: 12px;
    }

    .All_button button{
        margin-right: 5px;
        font-size: 14px;
    }

    .All_button img{
        height: 14px;
        width: 14px;
    }
}