.Posts_section{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.Postlist_main{
    width: 100%;
}

.Postlist_sec{
    display: flex;
    flex-flow: row wrap;
}

.Post_list{
    width: 33%;
}

.Search_Filter{
    display: flex;
    padding-top: 0;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #ffc1174a;
    border-radius: 10px;
}

.Search_Filter input{
    border-radius: 5px;
}

.Search_Filter button{
    border-radius: 5px;
    cursor: pointer;
}

.Search_Filter h3{
    margin: 0 0 10px 0;
}

.Filters{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

.Filter_author input{
    padding: 5px;
}

.Filter_likes{
    display: flex;
    gap: 20px;
}

.Filter_likes input{
    width: 80px;
    padding: 5px;
}

.Filter_comments{
    display: flex;
    gap: 20px;
}

.Filter_comments input{
    width: 80px;
    padding: 5px;
}

.Filters button{
    padding: 5px 10px;
}

.Search{
    padding: 10px 0;
}

.Search input{
    padding: 5px 10px;
    margin-left: 10px;
}

.Search button{
    margin-left: 10px;
    padding: 5px 10px;
}

.Switch_id{
    display: flex;
    justify-content: center;
}

.Switch_id button{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width:680px) {
    .Posts_section{
        width: 100%;
        padding: 0;
    }

    .Post_list{
        width: 100%;
    }
    
    .Filters{
        flex-direction: column;
        gap: 10px;
    }
}