.Post_main{
    display: flex;
    margin-top: 10px;
    /* background-color: rgba(71, 68, 65, 0.1); */
    margin-right: 10px;
}

.Post_number{
    color: rgba(71, 68, 65, 0.619);
    margin-left: 10px;
}

.Post_number h2{
    margin-top: 2px;
}

.Post_brief{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.Author{
    font-size: 14px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 8px;
}

.Author img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.Author span{
    display: flex;
    color: black;
    cursor: pointer;
    align-items: center;
}

.Title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.Title span{
    color: black;
    cursor: pointer;
}

.Date_publish{
    font-size: 12px;
    display: flex;
    gap: 15px;
}

