.Post_main{
    display: flex;
}

.Post_number{
    color: rgba(71, 68, 65, 0.105);
    margin-left: 10px;
}

.Post_number h2{
    margin-top: 2px;
}

.Post_brief{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.Author{
    font-size: 16px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 8px;
}

.Author img{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.Author :link{
    text-decoration: none;
    color: black;
}

.Author span{
    color: black;
}

.Title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.Title :link{
    text-decoration: none;
    color: black;
}

.Title span{
    color: black;
}

.Date_publish{
    font-size: 14px;
}