.PostDetail_sec{
    display: flex;
    flex-direction: column;
    width: 680px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.Post_title{
    margin-left: 10px;
}

.Post_author{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-left: 10px;
    display: flex;
}

.Post_author img{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 50%;
}

.Post_author span{
    color: black;
    cursor: pointer;
}

.Post_author button{
    font-size: 16px;
    background-color: white;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}

.publish_date{
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    gap: 15px;
}

.Like_Comment{
    border-top: 2px solid rgba(35, 33, 31, 0.562);
    border-bottom: 2px solid rgba(35, 33, 31, 0.562);
    color: rgba(35, 33, 31, 0.562);
    margin-bottom: 20px;
    padding: 10px 0;
    margin-right: 10px;
    margin-left: 10px;
}

.Like_Comment button{
    background-color: #fff;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.Like_Comment span{
    margin-right: 10px;
    float: right;
}

.Like_Comment img{
    height: 15px;
    width: 15px;
}

.Post_text{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
}

.Post_text_img{
    display: flex;
    justify-content: center;
}

.Post_text_img img{
    /* height: 480px; */
    width: 600px;
    aspect-ratio: auto;
}

.Post_text p{
    margin-left: 2px;
}

.Edit_delete_post{
    margin-bottom: 40px;
}

.Comments_main{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.Add_comment{
    display: flex;
    margin-bottom: 20px;
}

.Add_comment input{
    width: 78%;
    padding: 5px 10px;
}

.Add_comment button{
    padding: 5px 10px;
    margin-left: 10px;
}

@media (max-width:680px) {
    .PostDetail_sec{
        width: 100%;
    }

    .Post_text_img img{
        width: 100%;
        aspect-ratio: auto 480/600;
    }
}